/tables/descriptivness_ratio.aux
/tables/descriptivness_ratio.bbl
/tables/descriptivness_ratio.blg
/tables/descriptivness_ratio.log
/tables/descriptivness_ratio.synctex.gz
/imgs/distinctivenessTP.png
/tables/texput.log
/tables/tracking_precision.aux
/tables/tracking_precision.log
/tables/tracking_precision.synctex.gz
/benchmark.log
/tables/benchmark.bbl
/tables/benchmark.blg
/tables/test.aux
/tables/test.bbl
/tables/test.blg
/tables/test.log
/tables/test.synctex.gz
/tables/tp.aux
/tables/tp.bbl
/tables/tp.blg
/tables/tp.log
/tables/tp.synctex.gz
/related.log
/2016_iros_pbbik.bbl
/2016_iros_pbbik.blg
/2016_iros_pbbik.aux
/2016_iros_pbbik.log
/2016_iros_pbbik.out
/2016_iros_pbbik.pdf
/2016_iros_pbbik.synctex.gz
/tables/benchmark.aux
/tables/benchmark.log
/tables/benchmark.synctex.gz
