/2016_iros_pbbik.bbl
/2016_iros_pbbik.blg
/2016_iros_pbbik.aux
/2016_iros_pbbik.log
/2016_iros_pbbik.out
/2016_iros_pbbik.pdf
/2016_iros_pbbik.synctex.gz
/tables/benchmark.aux
/tables/benchmark.log
/tables/benchmark.pdf
/tables/benchmark.synctex.gz
